<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>404</title>
		<%- include("../fragmente/head") %>
	</head>
	<body class="container">
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<h1 class="fstelm">Eroare 404</h1>
        <p>Ne pare rau, pagina pe care o cauti nu este prin apropiere. :(<br> Poate o bicicleta te va ajuta sa o gasesti mai repede?<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
		<footer>
			<%- include("../fragmente/footer") %>
		</footer>
	</body>
</html>