<!DOCTYPE html>
<html lang="ro">
<head>
	<title>Galerie statica</title>
	<link rel="stylesheet" type="text/css" href="css/principal.css">
	<link rel="stylesheet" type="text/css" href="css/style_700.css" media="screen and (max-width: 700px)">
	<link rel="stylesheet" type="text/css" href="css/style_300.css" media="screen and (max-width: 500px)">
	<%- include("../fragmente/head") %>
</head>
<body>

	<header>
		<%- include("../fragmente/header") %>
	</header>

	<section id="galerie-statica">
		<h1 class="fstelm">Galerie statica</h1>
		<div id="gr">
			<figure>
				<img src="imagini/galerie-statica/bike0.jpg" alt="bicicleta MTB">
				<figcaption>MTB</figcaption>
			</figure>
			<figure>
				<img src="imagini/galerie-statica/bike1.jpg" alt="3 biciclete">
				<figcaption>3 Biciclete</figcaption>
			</figure>
			<figure>
				<img src="imagini/galerie-statica/bike2.jpg" alt="MTB galbena">
				<figcaption>MTB galben</figcaption>
			</figure>
			<figure>
				<img src="imagini/galerie-statica/bike3.jpg" alt="bicileta la munte">
				<figcaption>Bicicleta pe munte</figcaption>
			</figure>
			<figure>
				<img src="imagini/galerie-statica/bike4.jpg" alt="drum forestier">
				<figcaption>MTB drum forestier</figcaption>
			</figure>
			<figure>
				<img src="imagini/galerie-statica/bike5.jpg" alt="bicicleta pro">
				<figcaption>Bicicleta PRO</figcaption>
			</figure>
			<figure>
				<img src="imagini/galerie-statica/bike6.jpg" alt="bicicleta padure">
				<figcaption>Bicicleta in padure</figcaption>
			</figure>
			<figure>
				<img src="imagini/galerie-statica/bike7.jpg" alt="bicicleta downhill">
				<figcaption>Bicicleta downhill</figcaption>
			</figure>
			<figure>
				<img src="imagini/galerie-statica/bike8.jpg" alt="bicicleta oras">
				<figcaption>Bicicleta oras</figcaption>
			</figure>
			<figure>
				<img src="imagini/galerie-statica/bike9.jpg" alt="bicicleta desert">
				<figcaption>Bicicleta desert</figcaption>
			</figure>
		</div>
	</section>
	<footer>
		<%- include("../fragmente/footer") %>
	</footer>
</body>
</html>