<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="css/galerie-animata.css"/>
	<%- include("../fragmente/head") %>
</head>

<body>
	<header>
		<%- include("../fragmente/header") %>
	</header>

<div id="galerie_animata" class="galerie">

    <div>
		
        <figure>
			<img src="imagini/galerie-animata/1.jpg" alt="Pe o roata" />
			<figcaption>Pe o roata</figcaption>
		</figure>
        <figure>
			<img src="imagini/galerie-animata/2.jpg" alt="Traseu accidentat" />
			<figcaption>Traseu accidentat</figcaption>
		</figure>
        <figure>
			<img src="imagini/galerie-animata/3.jpg" alt="Manusi" />
			<figcaption>Manusi</figcaption>
		</figure>
        <figure>
			<img src="imagini/galerie-animata/4.jpg" alt="Jacheta" />
			<figcaption>Jacheta</figcaption>
		</figure>
        <figure>
			<img src="imagini/galerie-animata/5.jpg" alt="Casca" />
			<figcaption>Casca</figcaption>
		</figure>
        <figure>
			<img src="imagini/galerie-animata/6.jpg" alt="Mergi cu prietenii" />
			<figcaption>Mergi cu prietenii</figcaption>
		</figure>
        <figure>
			<img src="imagini/galerie-animata/7.jpg" alt="Traseu ingust" />
			<figcaption>Traseu ingust</figcaption>
		</figure>
        <figure>
			<img src="imagini/galerie-animata/8.jpg" alt="Prin oras" />
			<figcaption>Prin oras</figcaption>
		</figure>
        <figure>
			<img src="imagini/galerie-animata/9.jpg" alt="Traseuri de munte" />
			<figcaption>Traseuri de munte</figcaption>
		</figure>
        <figure>
			<img src="imagini/galerie-animata/10.jpg" alt="Adrenalina" />
			<figcaption>Adrenalina</figcaption>
		</figure>

    </div>

</div>

<footer>
	<%- include("../fragmente/footer") %>
</footer>
</body>

</html>