
    <p>
        <small>
            Ne puteti contacta la adresa de email: <a href="mailto:stefan_bogdan.mitrache@yahoo.com">stefan_bogdan.mitrache@yahoo.com</a>
            <br>
            <time datetime="2020-03-11">03-11-2020</time>
        </small>
        <br>
        <address>
            Strada Bicicletelor, nr. 99, sector 7
        </address>
    <a href="#" class="buton_sus" > <span class="fas fa-arrow-up"></span> Inapoi sus</a>

<div id="elem">Acesta este un proiect scolar!
</div>